@media(max-width:1680px){
.wt-header{padding-left: 75px;}
body.logged-in .wt-wrapper .wt-main{padding-left:90px}
.page-template-dashboard  .wt-sidebarwrapper,
.wt-wrapper .wt-sidebarwrapper{width:50px}
.wt-sidebarwrapper .wt-logo{margin:0 0 0 60px}
.wt-user{background:#363b4d;padding:30px 0 40px 65px}
.wt-socialandappicons{margin:0 0 0 60px}
.wt-usersidebar .wt-companysinfo .wt-title,.wt-usersidebar .wt-companysinfo .wt-btnarea{margin-left:200px;display:none}
.wt-usersidebar .wt-companysinfo figure{width:46px;height:46px;border-width:3px}
.wt-openmenu .wt-usersidebar .wt-companysinfo figure{width:100px;height:100px;border-width:6px}
.wt-openmenu .wt-companysdetails.wt-usersidebar .wt-companysinfo{padding:0 0 30px}
.wt-companysdetails.wt-usersidebar .wt-companysinfo{padding:30px 0}
.wt-companysdetails.wt-usersidebar .wt-companysimg img{width:auto;height:140px;max-width:none}
body.wt-openmenu .wt-sidebarwrapper,
.wt-wrapper.wt-openmenu .wt-sidebarwrapper{width:270px}
.wt-openmenu .wt-companysdetails.wt-usersidebar .wt-companysimg img{width:100%;height:auto}
.wt-openmenu .wt-usersidebar .wt-companysinfo .wt-title,.wt-openmenu .wt-usersidebar .wt-companysinfo .wt-btnarea{margin:0;display:block}
.wt-openmenu .wt-usersidebar .wt-companysinfo .wt-title{margin-bottom:15px}
.wt-navdashboard-footer{display:none}
.wt-openmenu .wt-navdashboard-footer{display:block}
.wt-proposalsrcontent{padding:30px 10px 30px 30px}
.wt-dashboardsave .wt-proposalsr .wt-proposalsrcontent figure{padding:0 20px 0 0}
.wt-jobdetailscontent .wt-userlistinghold .wt-rightarea{width:auto}
.wt-jobdetailscontent .wt-userlistingvtwo .wt-contenthead{max-width:380px}
.project-detail-history .wt-jobdetailscontent .wt-contenthead{width:auto;max-width:none}
.elementor-header-used {
	padding-left: 90px;
	padding-right: 15px;
}
.elementor-location-footer,
.elementor-location-header{margin-right: -15px;}
.elementor-header-used.wt-openmenu .wt-sidebarwrapper {width: 270px;}
}@media(max-width:1800px){.wt-likedfreelancers .wt-userlistingcontent .wt-rightarea{clear:both;float:left;margin:20px 0 0}
}@media(max-width:1536px){.wt-userlistingvtwo .wt-contenthead{max-width: 420px;}.wt-dashboradsaveditems .wt-saveitem-breadcrumb li{margin:5px 0}
.wt-proposalsrcontent{padding:30px}
.wt-dashboardsave .wt-proposalsr{margin:0;text-align:center}
.wt-dashboardsave .wt-proposalsr .wt-proposalsrcontent{padding:30px 30px 0}
.wt-dashboardsave .wt-proposalsr:last-child .wt-proposalsrcontent{padding-bottom:30px}
.wt-dashboardsave .wt-proposalsr .wt-proposalsrcontent .wt-title{padding:0;width:100%}
.wt-dashboardsave .wt-proposalsr .wt-proposalsrcontent figure{
    border: 0;
    padding: 0 0 20px 0;
    margin: 0 0 20px;
    border-bottom: 1px solid #ddd;
}
}@media(max-width:1440px){.wt-headervfour{z-index:10}
.wt-fixednav .wt-btnmenutoggle{top:10%}
.wt-height-increased-100 .wt-btnmenutoggle{top:120px}
.wt-height-increased-100 .wt-fixednav .wt-btnmenutoggle{top:10%}
.wt-sticky .wt-fixednav .wt-btnmenutoggle{top:30%}
.wt-milestonesingle__detail li {
    flex: 0 0 50%;
    padding: 36.5px;
}
.wt-milestonesingle__detail li:nth-child(3):before{display: none;}
.wt-milestonesingle__detail li:nth-child(n+3):after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 6px;
    background-color: #f7f7f7;
}
.wt-milestonesingle__detail li:nth-child(n+3) .wt-element-hint{
    top: 7px;
	right: 6px;
}
}@media(max-width:1400px){table.wt-tablecategories tbody tr td{padding:10px}
.wt-tablecategories thead tr th{padding:10px}
}@media(max-width:1366px){
.wt-rcvproposalholder .wt-userlistinghold .wt-userlistingimg + .wt-proposaldetails,
.wt-hiredfreelancer .wt-userlistinghold .wt-userlistingimg + .wt-proposaldetails{
    width: auto;
    margin:30px 0;
}
.wt-rcvproposalholder .wt-userlistinghold .wt-userlistingimg + .wt-proposaldetails .wt-contenthead,
.wt-hiredfreelancer .wt-userlistinghold .wt-userlistingimg + .wt-proposaldetails .wt-contenthead{
    padding: 0;
}
.wt-rcvproposalholder .wt-userlistinghold .wt-userlistingimg{
    margin:30px 20px 30px 30px;
}.wt-rcvproposala .wt-userlistingvtwo .wt-userlistingcontent .wt-rightarea .wt-hireduserstatus{min-width: 150px;}
.wt-userlistingvtwo .wt-contenthead + .wt-rightarea .wt-hireduserstatus{margin-left: auto; min-height: 96px;padding: 20px 0;border-left:1px solid #eee;}.wt-userlistingvtwo .wt-userlistingcontent>.wt-rightarea{width: auto;float: right;}.wt-userlistingvtwo .wt-contenthead + .wt-rightarea .wt-hireduserstatus{min-width: 150px;}.wt-updatall{padding:30px 20px 30px 75px}
.wt-updatall .wt-btn{float:left;clear:both}
.wt-updatall span{padding-top:0}
.wt-userlistingvtwo .wt-userlistingcontent>.wt-rightarea{width:100%;float:left}
.wt-userlistingvtwo .wt-userlistingcontent>.wt-rightarea .wt-rightarea{float:left}
.wt-likedfreelancers .wt-userlistinghold .wt-userlistingimg{margin:0 0 20px}
.wt-likedfreelancers .wt-userlistinghold .wt-userlistingcontent{float:left;width:100%}
.wt-skillsform fieldset .form-group{padding:0}
.wt-skillsform fieldset .form-group.wt-btnarea{margin-top:10px;position:static}
.wt-rcvproposala .wt-userlistingvtwo .wt-userlistingcontent .wt-rightarea{float:right}
.wt-userlistingvtwo .wt-userlistingcontent .wt-rightarea .wt-btnarea{padding: 30px 0;}
.wt-userlistingvtwo .wt-userlistingcontent>.wt-rightarea{width: 100%; border-top: 1px solid #eee;justify-content: space-between;}
.wt-userlistingvtwo{
    padding: 0;
}
.wt-userlistingvtwo .wt-contenthead{
    max-width: none;
    width: 100%;
    padding: 30px;
}
.wt-userlistingvtwo .wt-userlistingcontent>.wt-rightarea{padding: 0 30px;}
.wt-rcvproposalholder .wt-proposalitem .wt-rightarea{width:100%;margin:0;border-top:1px solid #eee;padding:0 30px;}
.wt-rcvproposalholder .wt-userlistinghold .wt-proposaldetails, .wt-hiredfreelancer .wt-userlistinghold .wt-proposaldetails{width:100%;padding: 0;}
.wt-rcvproposalholder .wt-contenthead .wt-title h2{margin: 0;}
.wt-rcvproposalholder .wt-contenthead .wt-userlisting-breadcrumb{margin: 16px 0 0;}
.wt-rcvproposalholder .wt-userlistinghold{padding: 0;}
.wt-proposaldetails .wt-contenthead{
    max-width: none;
    padding: 30px;
}
.wt-rcvproposalholder .wt-proposalitem .wt-rightarea .wt-btnarea{
    margin-right: auto;
    padding: 20px 0;
}
.wt-proposalitem .wt-rightarea .wt-hireduserstatus{
    min-height: 96px;
    padding: 20px;
}
.wt-proposalitem .wt-rightarea .wt-hireduserstatus{border-left: 1px solid #eee; }
.wt-proposalitem .wt-rightarea > .wt-formsearch{margin-right: auto;}
}@media(max-width:1360px){.wt-msgbtns{width:100%;float:left;margin-top:20px;min-width:0}
.wt-attachfilevtwo li{width:50%}
.wt-alertbtn{clear:both}
.wt-jobalerts .alert span,.wt-jobalerts .alert em{padding:0!important;float:left}
.wt-jobalerts .alert{padding:20px 50px 20px 20px}
.wt-jobalertsdashboard .wt-alertbtn{float:left;margin:10px 0 0;position:static}
.wt-messageboxvtwo .wt-userprofile .wt-title a.wt-btn{padding:0 40px}
.wt-post-job-wrap .wt-jobalerts .alert{padding:5px 50px 5px 20px}
.wt-post-job-wrap .wt-jobalerts .alert span{padding:9px 0!important}
.wt-post-job-wrap .wt-jobalerts .alert .wt-alertbtn{clear:none}
}@media(max-width:1280px){#wt-education .handle{margin: 5px 10px 5px 0;}
    .wt-proposalitem .wt-btnarea{margin-right:20px}
.wt-accordioninnertitle>span{line-height:20px}
.wt-accordioninnertitle>span em{display:block}
.wt-accordioninnertitle>.wt-rightarea{padding:5px 0}
.wt-tabstitle li a{padding:19px 20px 19px 30px}
.wt-save-account-settings>.wt-btnarea{width:100%}
.wt-accountinfo li{width:100%}
.wt-accountinfo li+li{margin:10px 0 0}
.wt-actionbtn a+a{clear:both;margin:10px 0 0}
.wt-hiredfreelancer .wt-rightarea .wt-hireduserstatus{margin:0;padding:30px 20px}
.wt-milestonebtn{margin-right: 30px}
}@media(max-width:1199px){
	.wt-package-modal .wt-modalcontent .wt-package{
		width:100%;
	}
    .wt-tabstitle li a{padding:19px 30px}
    .wt-packageinfo li span em{
        display: inline-block;
        float: left;
    }
    .wt-packageinfo li span{text-align: right;}
    .wt-packageinfo li.wt-packageprice span{text-align: center;}
    .wt-packagedetails{display: none;}
.wt-moredetailsholder .row>div:nth-child(n+4) .wt-insightsitem{margin-top:30px}
.wt-insightuser .wt-dashboardsave{margin:0}
.wt-insightuser .wt-dashboardsave div+div .wt-proposalsr{margin:20px 0 0}
.wt-proposals .wt-dashboardsave{margin-top:30px}
.wt-dashboardinvocies{margin-bottom:30px}
.wt-categorys{margin-top:30px}
.wt-tablecategories thead tr th,table.wt-tablecategories tbody tr td{padding:10px 20px}
.wt-package{width:50%}
.wt-package:nth-child(n+3){border-top:1px solid #eff2f5}
.wt-userlistingvtwo .wt-contenthead{width:100%;max-width:none}
.wt-tabscontent,.wt-dashboardtabs{width:100%}
.wt-dashboardtabs .wt-tabstitle{display:block}
.wt-offersmessages ul li{width:40%}
.wt-offersmessages ul li:nth-child(2){width:60%}
.wt-moredetailsholder>div>div:nth-child(n+3) .wt-insightsitem{margin-top:20px}
.wt-rcvproposala .wt-userlistingvtwo .wt-userlistingcontent .wt-rightarea{float:left;width:100%}
}@media(max-width:1080px){.wt-updatall .wt-btn{float:left;clear:both}
.wt-chatbox .wt-messages{height:300px}
}@media(max-width:1000px){.wt-saveitem-breadcrumb {margin: -5px 0;}.wt-saveitem-breadcrumb li{margin:5px 0}
}@media(max-width:991px){
.wt-dashboardservcies.addon-list .wt-rightarea{margin-right:0px; margin-top:10px; width:100%;}
.wt-followcomhead .wt-title{width:100%; min-width:auto;}
.wt-dashside{margin-top: 30px;}
.wt-rcvproposalholder .wt-proposalitem .wt-rightarea .wt-btnarea{margin-right: 0;}
.history-addons .wt-jobservice-details .wt-freelancers-content .wt-rightarea{float:left;width:100%;margin-bottom:0}
.wt-tableservice .wt-userlistingsingle .wt-userlistingimg{width:58px}
.wt-hireduserstatus{min-height:110px}
.wt-moredetailsholder .row>div:nth-child(n+3) .wt-insightsitem{margin-top:30px}
.wt-likedfreelancers .wt-userlistinghold .wt-userlisting-breadcrumb li{border:0;margin:0;width:auto;padding:0 12px}
.wt-likedfreelancers .wt-userlistinghold .wt-userlisting-breadcrumb li:first-child{padding-left:0}
.wt-rcvproposalholder .wt-proposalitem .wt-rightarea,.wt-hiredfreelancer .wt-rightarea,.wt-hiredfreelancer .wt-titlewithsearch{-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}
.wt-hiredfreelancer .wt-titlewithsearch .wt-formsearch{margin:0;padding:20px 0 20px}
.wt-proposalitem .wt-rightarea .wt-hireduserstatus,.wt-hiredfreelancer .wt-rightarea .wt-hireduserstatus{width: 100%; border:0;border-top:1px solid #eee;padding:20px 0;margin:0}
.wt-milestonebtn{
	margin: 20px 0 30px;
    justify-content: center;
    align-items: center;
}
.wt-historycontentcol .wt-historycolhead{display:none}
.wt-dateandmsg{width:100%}
.wt-dateandmsg span:nth-child(2){width:100%;max-width:none}
.wt-holdersolution{margin-top:30px}
.wt-offersmessages ul li:nth-child(2){width:100%;display:none}
.wt-openmsg .wt-offersmessages ul li:nth-child(2){display:block}
.wt-openmsg .wt-offersmessages ul li:first-child{display:none}
.wt-offersmessages ul li:first-child{width:100%}
.wt-openmsg>.wt-titlemessages .wt-back{display:block}
.wt-messagebox{display:none}
.wt-dashboardsave{margin-top:30px}
.wt-dashboradsaveditems .wt-saveitem-breadcrumb li:first-child{padding-left:0}
.wt-dashboradsaveditems .wt-saveitem-breadcrumb li+li,.wt-followcomhead .wt-followcompomy-breadcrumb li+li{border:0;margin:5px 0;padding-top:0;border-left:1px solid #ddd}
.wt-followcomhead .wt-followcompomy-breadcrumb li,.wt-dashboradsaveditems .wt-saveitem-breadcrumb li{width:auto;margin:5px 0}
.wt-followcomhead .wt-followcompomy-breadcrumb{padding:17px 0}
.wt-hiredfreelancer .wt-proposalitem .wt-rightarea .wt-hireduserstatus:first-child{border:0}
.wt-milestonesingle__active--uppersection {
    flex-direction: column;
    align-items: flex-start;
}
.wt-milestonesingle__active--date {padding: 18px 0 0 0;}
.wt-milestonesingle__active--btn {
    margin-left: 0;
    padding-top: 24px;
}
.wt-milestonesingle__active--title{
	width: 100%;
	padding: 25px 0 29px;
}
.wt-milestonesingle__active--title+.wt-milestonesingle__active--date{padding:0;}
}@media(max-width:830px){
    .wt-userlistingvtwo .wt-userlistingcontent .wt-rightarea .wt-btnarea{
        width: 100%;
        padding: 20px 0;
        border: 0;
    }
    .wt-userlistingvtwo .wt-contenthead + .wt-rightarea .wt-hireduserstatus{
        width: 100%;
        border: 0;
        margin: 0;
    }
    .wt-userlistingvtwo .wt-contenthead + .wt-rightarea .wt-btnarea + .wt-hireduserstatus{border-top:1px solid #eee;}
}
@media(max-width:768px){.wt-dashboard.wt-dashboard.header-variation-two .wt-headervthhree .wt-logo img:first-child{display:block} select{width:100%;}
}@media(max-width:767px){
	.tk-request-section,
	.tk-verification-section{
		flex-wrap: wrap;
		flex-direction: column;
		align-items: flex-start;
	}
	.tk-request-btn{
		margin: 10px 0 0;
	}
	.tk-verification-btn{
		padding: 10px 0 0;	
	}
	body.rtl .wt-openmenu .wt-header{padding-right: 0;}body.rtl .wt-header{padding: 0;}.wt-openmenu .wt-header,.wt-header{padding-left: 0; }.wt-userlistingvtwo .wt-contenthead + .wt-rightarea{display: block;}.wt-addonservices-content{padding:0}
.wt-jobalerts .wt-alertbtn{margin-top:10px}
.wt-userlistingvtwo .wt-userlistingcontent>.wt-rightarea .wt-rightarea{width:100%}
.wt-codescanholder{margin:0 0 30px}
.menu-icon{display:none}
.wt-btnmenutoggle:before{display:block}
.elementor-header-used .wt-sidebarwrapper,
.wt-wrapper .wt-sidebarwrapper{width:0}
.wt-openmenu .wt-btnmenutoggle{left:100%}
body.logged-in .wt-wrapper.wt-openmenu .wt-main,
body.logged-in .wt-wrapper .wt-main{padding:20px 15px}
.wt-insightsitemholder .col-12:nth-child(n+2) .wt-insightsitem{margin-top:30px}
.wt-myskills li{padding:10px 20px}
.wt-userformvtwo{padding:0}
.tab-savecontent .wt-userlistinghold,.tab-savecontent .wt-yourdetails,.tab-savecontent .wt-followcompomy,.tab-savecontent .wt-likefreelan{padding:30px 10px}
.tab-savecontent .wt-dashboradsaveitem{padding:0 10px}
.tab-savecontent .wt-focomponylist{padding:0}
.wt-likedfreelancers{padding:0}
.wt-likedfreelancers .wt-userlistingcontent{width:100%;float:left}
.wt-likedfreelancers .wt-userlistinghold .wt-userlistingimg{margin:0 0 20px}
.wt-hiredfreelancer .wt-titlewithsearch .wt-formsearch{margin:0;width:100%;min-width:0}
.wt-jobdetailscontent,.wt-historycontent{padding:0}
.wt-historycontent .wt-userform{width:100%}
.wt-settingscontent,.wt-accountdel .wt-userform,.wt-selectdesign{padding:0}
.wt-templateoption{border:0;padding:0}
.wt-dashboardboxcontent.wt-categoriescontentholder{padding:0}
.wt-packageinfo{line-height:20px}
.wt-querycontent .wt-userform,.wt-dashboardboxcontent.wt-packages{padding:0}
.wt-package{width:100%}
.wt-package:nth-child(n+2){border-top:1px solid #eff2f5}
.wt-dashboardboxcontent.wt-offersmessages{padding:0}
.wt-userlistingvtwo .wt-userlistingcontent .wt-rightarea .wt-btnarea,.wt-userlistingvtwo .wt-userlistingcontentvtwo .wt-rightarea .wt-btnarea{padding:0 0 30px}
.wt-hireduserstatus{margin:0;width:100%;min-width:0;border-left:0;border-top:6px solid #fff}
.wt-userform fieldset .form-group-half{width:100%}
.wt-usersidebar{display:block}
.wt-moredetailsholder>div>div:nth-child(n+2) .wt-insightsitem{margin-top:20px}
.wt-skillscontent-holder,.wt-tabcompanyinfo .wt-accordiondetails,.wt-location .wt-userform,.wt-profilephotocontent,.wt-yourdetails .wt-userform,.wt-experienceaccordion,.wt-helpsupportcontent,.wt-managejobcontent{padding:0}
.wt-dashboardboxcontent,.wt-collapseexp{padding:30px 10px}
.wt-userlistingvtwo .wt-userlistingcontent .wt-rightarea .wt-btnarea{width:100%;padding:20px 0;text-align:center}
.wt-jobskills .wt-userform .form-group.wt-btnarea{right:0}
.wt-post-job-wrap .wt-jobalerts .alert .wt-alertbtn{clear:both}
.wt-post-job-wrap .wt-jobalerts .alert span{padding-top:0!important}
.wt-milestonesingle__detail li {flex: 0 0 100%;}
.wt-milestonesingle__detail li:nth-child(n+2):before {display: none}
.wt-milestonesingle__detail li:nth-child(n+2):after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 6px;
    background-color: #f7f7f7;
}
.wt-milestonesingle__detail li:nth-child(n+2) .wt-element-hint {
    top: 7px;
    right: 6px;
}
	.elementor-header-used{padding-left: 15px;}
    .elementor-location-footer,
    .elementor-location-header{margin:-15px;}
    .elementor-header-used.wt-openmenu{padding:0 15px;}
    .elementor-header-used { padding-left: 15px;}
}@media(max-width:720px){.wt-jobskills .wt-userform fieldset .form-group:first-child,.wt-jobskills .wt-userform fieldset .form-group:nth-child(2){width:100%}
}@media(max-width:640px){.header-variation-four .wt-sidebarwrapper .wt-btnmenutoggle{top:180px}
.wt-height-increased-plus .wt-btnmenutoggle{top:180px}
.wt-dashboard.header-variation-two .wt-header .wt-logo a,.wt-dashboard.header-variation-two .wt-logo{min-height:0}
.wt-dashboard.header-variation-two .wt-logo{margin:20px auto 10px}
.wt-focomponylist .wt-userlistingcontent .wt-followcompomy-breadcrumb{float:left;width:100%;padding:0}
.wt-attachmentsholder .wt-tabscontenttitle .wt-rightarea{float:left;width:100%}
.wt-saveitemholder .wt-focomponylist .wt-userlistingcontent .wt-followcomhead .wt-title{width:100%}
.wt-saveitemholder .wt-focomponylist .wt-userlistingcontent .wt-followcompomy-breadcrumb{float:left;width:100%;padding:0}
.wt-accountinfo li{width:100%}
.wt-selectdesign ul li{width:100%}
.wt-selectdesign ul li+li{border-top:1px solid #ddd}
.wt-child-1,.wt-child-2,.wt-child-3,.wt-child-4,.wt-child-5{padding-left:105px!important}
.wt-accordiondetails .wt-title h3{line-height:22px;font-size:16px}
.wt-pagination ul li a{height:30px;width:30px;float:left;line-height:30px}
.wt-experienceaccordion .wt-collapseexp fieldset .form-group .wt-labelgroup>span{margin:0;display:block}
.wt-infouploading .wt-fileuploading{padding:15px 0 0;width:100%}
.wt-attachfilevtwo li{width:100%}
.wt-labelgroup{text-align:center}
.wt-labelgroup label{margin:0 0 10px;margin-right:0!important}
.wt-labelgroup span{display:block}
.wt-skillsform fieldset .form-group .wt-select,.wt-skillsform fieldset .form-group .form-control{width:100%}
.wt-skillsform fieldset .form-group .wt-select select{border-right:0;border-bottom:1px solid #ddd}
.wt-formprojectinfo fieldset .form-group-label .wt-labelgroup{padding:10px}
	.wt-viewprofile-icon{display:none}
}@media(max-width:568px){.wt-formfeedback fieldset .form-group{flex-direction: column;align-items: flex-start;}.history-addons .wt-freelancers-content .dc-title a{line-height:20px}
.history-addons .wt-service-tabel .wt-freelancers-content{float:left;width:100%}
.history-addons .wt-service-tabel>figure{margin:0 0 20px}
.wt-titlewithsearch>div.wt-formsearch,.wt-titlewithsearch>form.wt-formsearch{width:100%;float:left;max-width:none}
.payout-holder .form-group{width:100%}
.wt-jobchart{height:200px!important}
.wt-titlewithsearch .wt-formsearch{max-width:none}
.wt-iconbox{height:auto}
.wt-btnsendmsg{margin:0;float:left;width:100%;margin-top:0;border-radius:0 0 4px 4px}
.wt-replaybox{border-radius:0 0 4px 4px}
.wt-offerermessage figure,.wt-memessage figure{width:30px;height:30px}
.wt-offerermessage{padding:0 0 0 40px}
.wt-memessage{padding:0 40px 0 0}
.wt-offersmessages ul li:nth-child(2){padding:20px}
.wt-formprojectinfo .wt-attachfile em{width:100%}
.wt-offerermessage .wt-description p,.wt-memessage .wt-description p{width:100%;max-width:none}
.wt-myskills li .wt-rightarea{clear:both;float:left;margin-top:10px}
.wt-updatall{padding:20px}
.wt-updatall span{padding-top:0}
.wt-yeartag .wt-tag{float:left;width:100%;margin-top:10px}
.wt-postedsilder{padding:0 10px}
.wt-likedfreelancers .wt-userlistinghold .wt-userlisting-breadcrumb li{width:100%;padding:0;margin:5px 0}
.wt-jobskills .wt-userform .form-group:first-child{padding:0}
.wt-jobskills .wt-userform .form-group.wt-btnarea{width:100%;margin-top:10px;position:static}
.wt-package-modal .wt-modalcontent .wt-package{width:100%;}
	.wt-package-modal .wt-packageinfo li span em{
		width: 100%;
		font-weight: 700;
		margin-bottom: 5px;
	}
	.wt-package-modal .wt-packageinfo li span{text-align:left;}
	.wt-package-modal .wt-packageinfo li{padding:10px 20px;}
	.wt-package-modal .wt-packageinfo{line-height:14px;}
}@media(max-width:575px){.wt-moredetailsholder .row>div:nth-child(n+2) .wt-insightsitem{margin-top:30px}
.wt-wp-language .wt-userform .form-group-half{width:100%}
.wt-wp-language .wt-userform .form-group-half:first-child{margin-bottom:30px}
}
@media(max-width:500px){.wt-userlistingvtwo .wt-userlistingcontent .wt-btnarea .wt-btn{width: 100%;}
.wt-userlistingvtwo .wt-userlistingcontent .wt-btnarea .wt-btn+.wt-btn{margin: 10px 0 0;}}
@media(max-width:480px){
.wt-dashboardservcies.addon-list .wt-rightarea a{width:100%;}
.page-template-dashboard #btn-change-status{
	border-radius: 0 0 5px 5px;
    margin: 0;
}
.status-change-select {width: 100%;}
#wt-projects .wt-projecttitle,
#wt-awards .wt-projecttitle{
    width: 100%;
}
#wt-projects .wt-accordioninnertitle .handle,
#wt-awards .wt-accordioninnertitle .handle{margin-top: 0 !important;}
#wt-projects .wt-projecttitle h3,
#wt-awards .wt-projecttitle h3{
    float: none;
    width: auto;
}
.wt-rcvproposalholder .wt-userlistinghold .wt-userlistingimg + .wt-proposaldetails,
.wt-hiredfreelancer .wt-userlistinghold .wt-userlistingimg + .wt-proposaldetails{
    width: 100%;
    margin: 0 30px 30px;
}
.wt-rcvproposalholder .wt-userlistinghold .wt-userlistingimg{margin-bottom: 10px;}
.wt-userlistingvtwo .wt-userlistingcontent>.wt-rightarea{padding: 0 20px}.wt-addonservices-content ul li .wt-checkbox label{padding-right:30px}
.wt-userlogedin.sp-top-menu .menu-item-has-children.wt-open .sub-menu{visibility: hidden;opacity: 0;}
.wt-userlogedin:hover .wt-usernav .menu-item-has-children.wt-open .sub-menu{visibility: visible;opacity: 1;}
.wt-addonservices-content .wt-checkbox input[type=checkbox]+label strong,.wt-addonservices-content label strong{float:left;width:100%;margin-top:10px;position:static}
.wt-videos-item .wt-accordioninnertitle .wt-rightarea{width:auto}
.payout-holder .wt-checkboxholder .wt-radio{width:100%}
.wt-followcomhead .wt-followcompomy-breadcrumb li{width:100%}
.wt-addnew h2{display:block}
.wt-tabscontenttitle>span>a,.wt-tabscontenttitle>a{float:left}
.wt-accordioninnertitle .wt-rightarea{float:left;width:100%;margin-top:10px;padding:0!important}
.wt-uploaded:before,.wt-uploading:before{left:8px}
.wt-attachmentsholder .wt-tabscontenttitle .wt-rightarea .wt-on-off{clear:both;margin:0;margin-top:10px;float:none!important}
.wt-likedfreelancers .wt-userlistinghold{padding:30px 10px}
.tab-savecontent{padding:0!important}
.wt-hiredfreelancer .wt-titlewithsearch .wt-formsearch .wt-select select{padding:10px 20px;border-radius:4px 4px 0 0}
.wt-hiredfreelancer .wt-titlewithsearch .wt-formsearch .wt-select:after{right:10px}
.wt-hiredfreelancer .wt-titlewithsearch .wt-formsearch .wt-searchgbtn{float:left;width:100%;position:static;border-radius:0 0 4px 4px}
.wt-userlisting-breadcrumb li{padding:0;width:100%;border:0!important}
.wt-historycontentcol li .wt-rightarea .wt-btn{float:left}
.wt-msgbtns a+a{margin:0;clear:both;float:left;margin-top:10px}
table.bt tfoot th .bt-content,.wt-offercontent h2{font-size:20px;font-weight:600}
table.bt tfoot td .bt-content,table.bt tbody td .bt-content{word-break:break-all;}
.wt-btn{padding:0 30px}
.wt-rcvproposala .wt-userlistingvtwo .wt-userlistingcontent .wt-rightarea .wt-hireduserstatus{min-width:0}
.wt-pagination ul li{margin:5px 3px}
.wt-tabscontent{padding:30px 10px}
.wt-projecttitle h3{float:left;width:100%}
.wt-dashboardsave .wt-proposalsr .wt-proposalsrcontent figure{border:0;padding:0 0 20px 0;border-bottom:1px solid #ddd}
.wt-dashboardsave .wt-proposalsr .wt-proposalsrcontent .wt-title{width:100%;padding:10px 0 0}
.wt-dashboradsaveditems .wt-saveitem-breadcrumb li{width:100%}
.wt-tableservice.bt tbody tr td{display:grid}
.wt-tableservice.bt tbody tr td:before{margin-bottom:10px}
}@media(max-width:479px){.wt-accordioninnertitle{padding:10px}
.wt-jobalerts .alert{padding:20px}
.wt-skillsforms fieldset.wt-skillsform .form-group-holder .form-group,
.form-group-half{width:100%;}
}@media(max-width:420px){.wt-proposalitem .wt-btnarea .wt-btn{width: 100%}.wt-proposalitem .wt-btnarea .wt-btn + .wt-btn {margin-top: 10px; }
.wt-helpsupportcontent .wt-accordiondetails{padding:30px 10px}
.wt-attachfile li em{float:left;width:100%}
.wt-historycontentcol .wt-historydescription{padding:30px 10px}
.wt-likeunlike span{display:block;margin-bottom:10px}
.wt-userlistingvtwo .wt-userlistingcontent .wt-btnarea .wt-btn{width:100%}
.wt-userlistingvtwo .wt-userlistingcontent .wt-btnarea .wt-btn+.wt-btn{margin:10px 0 0}
.wt-package-modal .wt-modalcontent .wt-package{width:100%}
.wt-package-modal .wt-modalcontent .wt-package+.wt-package{border-top:1px solid #eff2f5}
}